@{
    ViewBag.Title = "Index";
    Layout = "~/Views/GeneraVenta/GeneraVenta.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Generar boleta</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/CSS/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/Scripts/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.min.css">
    <script type="text/javascript" language="javascript" src="~/Scripts/semantic.min.js"></script>

    <script src="~/ScriptsVistas/LogicaGeneraVenta202112291434.js"></script>

    <style>
        html, body {
            background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url('../../Recursos/Imagenes/FondoNuevo.png');
            background-size: cover;
            background-repeat: repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }
    </style>

    <script>

        var urlObtenerContribuyente = '@Url.Action("ObtenerContribuyente", "GeneraVenta")';
        var urlInsertarFactura = '@Url.Action("InsertarFactura", "GeneraVenta")';
        var urlObtenerTiposPago = '@Url.Action("ObtenerTiposPago", "GeneraVenta")';

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

    </script>
</head>
<body>
    <div @*class="modal fade"*@ id="modalGeneraVentas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="opacity:0.9">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="ui center aligned header">
                        <img src="~/Recursos/Imagenes/LogoBackline.png" class="ui image">
                        Generar venta
                    </h3>
                </div>
                @*<img class="ui fluid image" src="~/Recursos/Imagenes/LogoEsyser_v2.png" />*@
            <div class="modal-body">
                <div class="image content">
                    <div class="ui info message">
                        <div class="header">
                            Atención al completar los campos!
                        </div>
                        Debes completar todos los campos para emitir la boleta!
                        <div class="ui divider"></div>
                        @if (SessionH.Usuario.OcupaRut == true)
                        {
                            <div class="ui purple icon message">
                                <i class="eye icon"></i>
                                <div class="content">
                                    <div class="header">
                                        Atención!
                                    </div>
                                    <p>Al momento de digitar un RUT debes realizarlo sin puntos ni guion.</p>
                                </div>
                            </div>
                        }
                        <div class="ui form">
                            <form>
                                @if (SessionH.Usuario.OcupaRut == false)
                                {
                                    <div class="two fields">
                                        <div id="divtxtDetalle" style="width:100%" class="field">
                                            <label>Detalle de la venta</label>
                                            <textarea id="txtDetalle" style="text-transform:uppercase;" autocomplete="off"></textarea>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divcmbTipoPago" class="field" style="width:100%">
                                            <label>Tipo de pago</label>
                                            <select id="cmbTipoPago" name="cmbTipoPago" class="ui search selection dropdown">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divtxtCantidad" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cantidad</font></font></label>
                                            <input id="txtCantidad" type="number" value="1" placeholder="" autocomplete="off" style="text-transform:uppercase;" readonly>
                                        </div>
                                        <div id="divtxtValor" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Valor</font></font></label>
                                            <input id="txtValor" type="number" placeholder="" autocomplete="off" style="text-transform:uppercase;">
                                        </div>
                                    </div>
                                }
                                @if (SessionH.Usuario.OcupaRut == true)
                                {
                                    <div class="two fields">
                                        <div id="divtxtRut" style="width:40%" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rut</font></font></label>
                                            <input id="txtRut" type="text" placeholder="" autocomplete="off" style="text-transform:uppercase;" onblur="ObtenerContribuyente();">
                                        </div>
                                        <div id="divtxtContribuyente" style="width:100%" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contribuyente</font></font></label>
                                            <input id="txtContribuyente" type="text" placeholder="" autocomplete="off" style="text-transform:uppercase;">
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divtxtDetalle" style="width:100%" class="field">
                                            <label>Detalle de la venta</label>
                                            <textarea id="txtDetalle" style="text-transform:uppercase;" autocomplete="off"></textarea>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divcmbTipoPago" class="field" style="width:100%">
                                            <label>Tipo de pago</label>
                                            <select id="cmbTipoPago" name="cmbTipoPago" class="ui search selection dropdown">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divtxtCantidad" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cantidad</font></font></label>
                                            <input id="txtCantidad" type="number" value="1" placeholder="" autocomplete="off" style="text-transform:uppercase;" readonly>
                                        </div>
                                        <div id="divtxtValor" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Valor</font></font></label>
                                            <input id="txtValor" type="number" placeholder="" autocomplete="off" style="text-transform:uppercase;">
                                        </div>
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                </div>
                <div id="divExito" class="ui icon hidden positive  message">
                    <i class="stopwatch icon"></i>
                    <div class="content">
                        <div class="header">
                            Éxito!!
                        </div>
                        <p>La boleta fue generada con éxito.</p>
                    </div>
                </div>
                <div id="divError" class="ui icon hidden positive  message">
                    <i class="stopwatch icon"></i>
                    <div class="content">
                        <div class="header">
                            Error!!
                        </div>
                        <p>La boleta no fue generada.</p>
                    </div>
                </div>
                <div class="actions">
                    <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                        <i class="close icon"></i>
                        <div class="header">
                            Se han encontrado algunos problemas, revíselos...
                        </div>
                        <ul id="listMessajeError" class="list"></ul>
                    </div>
                </div>
                <br />
                <button id="btnGuardarBoleta" class="ui right labeled blue icon button" onclick="GuardarFactura();">
                    <i class="check circle icon"></i><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Emitir boleta
                        </font>
                    </font>
                </button>
                <button class="ui right labeled red icon button" onclick="window.location.replace('/Home')">
                    <i class="left arrow icon"></i><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Volver
                        </font>
                    </font>
                </button>
            </div>
            </div>
        </div>
    </div>
</body>
</html>