@{
    ViewBag.Title = "Index";
    Layout = "~/Views/GeneraVenta/GeneraVenta.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Generar boleta</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/CSS/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/Scripts/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.min.css">
    <script type="text/javascript" language="javascript" src="~/Scripts/semantic.min.js"></script>

    <script src="~/ScriptsVistas/LogicaGeneraVenta20211229135.js"></script>

    <style>
        body {
            width: 100%;
            height: 100%;
            background-image: url();
            background-image: url('../../Recursos/Imagenes/Fondo2.jpg');
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

    <script>

        var urlObtenerContribuyente = '@Url.Action("ObtenerContribuyente", "GeneraVenta")';
        var urlInsertarFactura = '@Url.Action("InsertarFactura", "GeneraVenta")';
        var urlObtenerTiposPago = '@Url.Action("ObtenerTiposPago", "GeneraVenta")';

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

    </script>
</head>
<body>
    <div @*class="modal fade"*@ id="modalGeneraVentas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="opacity:1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="ui center aligned header">
                        <img src="~/Recursos/Imagenes/LogoBackline.png" class="ui image">
                        Generar venta
                    </h3>
                </div>
                @*<img class="ui fluid image" src="~/Recursos/Imagenes/LogoEsyser_v2.png" />*@
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al completar los campos!
                            </div>
                            Debes completar todos los campos para emitir la boleta!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    @if (SessionH.Usuario.Emp_Id == 14)
                                    {
                                        <div class="two fields">
                                            <div id="divtxtDetalle" style="width:100%" class="field">
                                                <label>Detalle de la venta</label>
                                                <textarea id="txtDetalle" style="text-transform:uppercase;" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div id="divcmbTipoPago" class="field" style="width:100%">
                                                <label>Tipo de pago</label>
                                                <select id="cmbTipoPago" name="cmbTipoPago" class="ui search selection dropdown">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div id="divtxtCantidad" class="field">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cantidad</font></font></label>
                                                <input id="txtCantidad" type="number" value="1" placeholder="" autocomplete="off" style="text-transform:uppercase;" readonly>
                                            </div>
                                            <div id="divtxtValor" class="field">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Valor</font></font></label>
                                                <input id="txtValor" type="number" placeholder="" autocomplete="off" style="text-transform:uppercase;">
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="two fields">
                                            <div id="divtxtRut" style="width:40%" class="field">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rut</font></font></label>
                                                <input id="txtRut" type="text" placeholder="" autocomplete="off" style="text-transform:uppercase;" onblur="ObtenerContribuyente();">
                                            </div>
                                            <div id="divtxtContribuyente" style="width:100%" class="field">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contribuyente</font></font></label>
                                                <input id="txtContribuyente" type="text" placeholder="" autocomplete="off" style="text-transform:uppercase;">
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div id="divtxtDetalle" style="width:100%" class="field">
                                                <label>Detalle de la venta</label>
                                                <textarea id="txtDetalle" style="text-transform:uppercase;" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div id="divcmbTipoPago" class="field" style="width:100%">
                                                <label>Tipo de pago</label>
                                                <select id="cmbTipoPago" name="cmbTipoPago" class="ui search selection dropdown">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div id="divtxtCantidad" class="field">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cantidad</font></font></label>
                                                <input id="txtCantidad" type="number" value="1" placeholder="" autocomplete="off" style="text-transform:uppercase;" readonly>
                                            </div>
                                            <div id="divtxtValor" class="field">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Valor</font></font></label>
                                                <input id="txtValor" type="number" placeholder="" autocomplete="off" style="text-transform:uppercase;">
                                            </div>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La boleta fue generada con éxito.</p>
                        </div>
                    </div>
                    <div id="divError" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Error!!
                            </div>
                            <p>La boleta no fue generada.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnGuardarBoleta" class="ui fluid labeled blue icon button" onclick="GuardarFactura();">
                        <i class="checkmark icon"></i>
                        Emitir boleta
                    </button>
                    <div style="height:5px">

                    </div>
                    <button class="ui fluid labeled red icon button" onclick="window.location.replace('/Home')">
                        <i class="left chevron icon"></i>
                        Volver
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>