@model VentaSimpleWeb.Models.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Home.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Home</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/CSS/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/Scripts/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.min.css">
    <script type="text/javascript" language="javascript" src="~/Scripts/semantic.min.js"></script>

    <style>
        body {
            width: 100%;
            height: 100%;
            background-image: url();
            background-image: url('../../Recursos/Imagenes/Fondo2.jpg');
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

    <script>



        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

    </script>
</head>
<body>
    <div class="ui link cards">
        <div class="container">
            <div style="height:5px"></div>
            @if (Request.Browser.IsMobileDevice)
            {
                <h2 style="color:white" class="ui center aligned header">
                    @*<img src="~/Recursos/Imagenes/LogoBackline.png" class="ui image">*@
                    Bienvenido al sistema de venta simple @Model.NombreUsuario
                </h2>
            }
            else
            {
                <h2 style="color:white" class="ui center aligned header">
                    <img src="~/Recursos/Imagenes/LogoBackline.png" class="ui image">
                    Bienvenido al sistema de venta simple @Model.NombreUsuario
                </h2>
            }
            <div class="row">
                @if (SessionH.Usuario.Administrador == false)
                {
                    @*GeneraVenta*@
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm" style="opacity:1">
                            <img class="card-img-top" src="~/Recursos/Imagenes/botonGeneraVenta2.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Aquí podrás generar nuevas ventas.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <div id="btnMarketPlace" onclick="window.location.href = '/GeneraVenta'" class="ui right labeled icon purple  button">
                                            Generar venta
                                            <i class="hand point left icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @*Libro de ventas*@
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="opacity:1">
                        <img class="card-img-top" src="~/Recursos/Imagenes/botonRevisaSolicitudes.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Aquí podrás revisar las ventas diarias.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="btnMarketPlace" onclick="window.location.href = '/LibroVentas?limpiar=1'" class="ui right labeled icon purple button">
                                        Libro de ventas
                                        <i class="hand point left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (SessionH.Usuario.Administrador == true)
                {
                    @*Mantenedor de usuarios*@
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm" style="opacity:1">
                            <img class="card-img-top" src="~/Recursos/Imagenes/botonMantenedorUsuarios.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Aquí podrás crear o eliminar los usuarios existentes.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <div id="btnMarketPlace" onclick="window.location.href = '/MantenedorUsuarios'" class="ui right labeled icon purple button">
                                            Mantenedor de usuarios
                                            <i class="hand point left icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>