<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Cambiar contraseña</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/CSS/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/Scripts/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.min.css">
    <script type="text/javascript" language="javascript" src="~/Scripts/semantic.min.js"></script>

    <script src="~/ScriptsVistas/LogicaCambiarContraseña.js"></script>

    <style>
        body {
            width: 100%;
            height: 100%;
            background-image: url();
            background-image: url('../../Recursos/Imagenes/Fondo2.jpg');
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

    <script>

        var urlCambiarClave = '@Url.Action("CambiarClave", "CambiarContraseña")';

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

    </script>
</head>
<body>
    <div style="height:50px"></div>
    <div id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="opacity:0.9">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h3>
                </div>
                @*<img class="ui fluid image" src="~/Recursos/Imagenes/LogoEsyser_v2.png" />*@
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al completar los campos!
                            </div>
                            Debes completar todos los campos para guardar!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>

                                    <div class="two fields">
                                        <div id="divtxtContraseña" class="field" style="width:70%">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nueva contraseña</font></font></label>
                                            <input id="txtContraseñaNueva" type="password" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divtxtContraseñaConfirmacion" class="field" style="width:70%">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Confirme contraseña</font></font></label>
                                            <input id="txtContraseñaConfirmacion" type="password" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="key icon"></i>
                        <div class="content">
                            <div class="header">
                                Seguridad
                            </div>
                            <p>Se ha cambiado su contraseña con éxito, la sessión se cerrará en 5 segundos.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>

                    <div style="height:5px"></div>
                    @*<br />*@
                    <button id="btnCambiarContrasena" class="ui fluid labeled green icon button" onclick="UpdateContraseña();">
                        <i class="checkmark icon"></i>
                        Cambiar
                    </button>
                    <div style="height:5px"></div>
                    <button class="ui fluid labeled red icon button" onclick="window.location.replace('/Home')">
                        <i class="left chevron icon"></i>
                        Volver
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>